html, body {
    width: 100%;
    height: 100%;
}

ul#commands {
    display: flex;
    list-style-type: none;
    height: 1000px;
    overflow: hidden;
    margin-right: 50%;
    direction: rtl;
    align-items: center;
}

li.command {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#countdown {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 98px;
    color: green;
}

.video-feed {
    display: flex;
    justify-content: center;
    align-items: center;
}